@using System.Configuration
@inject IConfiguration configuration
@{
    Layout = "_Layout";
    ViewData["Title"] = "Interactive Map";
}
@section Styles {
    <style>
        #map {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    </style>
}

<div id="map"></div>
<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>

<partial name="_PopupPartial" />
@section Scripts {

    <script src="~/js/map.js"> </script>
}