@using AlpineHub.Core.ViewModels.PassAgeGroup
@model AddAgeGroupFormModel
@{
    ViewData["Title"] = "Add Age Group";
    Layout = "_ManagerLayout";
}


<div class="container w-75 mt-3">
    <h1 class="mb-0">@ViewBag.Title</h1>
    <hr class="mb-4" />

    <form asp-action="AddAgeGroup" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="MinAge" class="form-label">Min age</label>
            <input asp-for="MinAge" type="number" class="form-control" />
            <span asp-validation-for="MinAge" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="MaxAge" class="form-label">Max age</label>
            <input asp-for="MaxAge" type="number" class="form-control" />
            <span asp-validation-for="MaxAge" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>