@using AlpineHub.Core.ViewModels.Slope
@model IEnumerable<AllSlopesViewModel>
@{
    ViewData["Title"] = "Slope information";
}
<h1 class="text-center py-5 mt-5">Slopes Information</h1>

<div class="container">
    <table id="slopeTable" class="table table-striped table-borderless custom-table">
        <thead class="table-active">
            <tr>
                <th>Name</th>
                <th>Difficulty</th>
                <th>Condition</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var slope in Model)
            {
                <tr>
                    <td hidden>@slope.Id</td>
                    <td>@slope.Name</td>
                    <td>@slope.Difficulty</td>
                    <td>@slope.SlopeCondition</td>
                    <td>
                        @if (slope.IsOpen)
                        {
                            <span class="badge bg-success">Open</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Closed</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!--Details Modal -->
<div id="slopeModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Slope Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="slopeModalBody">
                <!-- Content will be loaded here -->
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->
@section Scripts {
    <script src="~/js/animations.js"></script>
    <script src="~/js/modalLoaders.js"></script>
}