@{

    string? controller = (string?)ViewContext.RouteData.Values["controller"];
}
<div class="sidebar sidebar-admin d-flex flex-column ">
    <div class="d-flex justify-content-center">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="text-center  link-dark text-decoration-none">
            <span class="fs-4 ">Admin Panel</span>
        </a>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link link-dark @(controller=="Home"? "active":"")">
                <i class="fa-solid fa-gauge"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="nav-link link-dark @((string?)ViewContext.RouteData.Values["controller"]=="Users"? "active":"")">
                <i class="fa-solid fa-users"></i>
                Users
            </a>
        </li>
    </ul>
    <hr>

    <div class="container">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="d-inline-block btn btn-sm btn-primary">Back To Main</a>
        <form class="d-inline-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="d-inline-block btn btn-sm btn-danger">Logout</button>
        </form>
    </div>

</div>
