
<div id="popupContent" class="container-fluid d-none">
    <!-- Header with Icon -->
    <div id="popupHeader" class="d-flex align-items-center text-dark p-2 rounded-top">
        <h6 id="popupTitle" class="mb-0"></h6>
    </div>

    <!-- Body -->
    <div id="popupBody" class="p-3 bg-light rounded-bottom">
    </div>
</div>