<footer class="bg-dark text-light pt-4 pb-3 mt-5">
    <div class="container">
        <div class="row">
            <!-- Footer Links -->
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p class="small">
                    Welcome to our Ski Resort! Experience the thrill of the slopes, breathtaking views, and world-class facilities.
                </p>
            </div>

            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/Contact" class="text-light text-decoration-none">Contact</a></li>
                    <li><a href="/Privacy" class="text-light text-decoration-none">Privacy Policy</a></li>
                    <li><a href="/Terms" class="text-light text-decoration-none">Terms of Service</a></li>
                </ul>
            </div>

            <!-- Social Media -->
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <div>
                    <a href="https://facebook.com" class="text-light me-3">
                        <i class="fab fa-facebook fa-lg"></i>
                    </a>
                    <a href="https://twitter.com" class="text-light me-3">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                    <a href="https://instagram.com" class="text-light me-3">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="text-center mt-3">
            <p class="small mb-0">
                &copy; 2024 Ski Resort. All Rights Reserved.
            </p>
        </div>
    </div>
</footer>