@{
    Layout = "_Layout";
}
<style>
    .navbar {
        background-color: rgba(7, 40, 72, 1);
    }
</style>

<div class="d-flex manage-container">
    <!-- Sidebar Navigation -->
    <div class="sidebar sidebar-manager bg-light d-flex flex-column align-items-center">
        <h5>Manager Panel</h5>
        <nav class="nav flex-column">
            <a class="nav-link" asp-area="" asp-controller="ManageSlopes" asp-action="Index">Manage Slopes</a>
            <a class="nav-link" asp-area="" asp-controller="ManageLifts" asp-action="Index">Manage Lifts</a>
        </nav>
    </div>

    <!-- Content Section -->
    <div class="manager-main-content flex-grow-1 p-4">
        @RenderBody()
    </div>
</div>
@section Scripts {
    <script src="~/js/modalLoaders.js"></script>
    <partial name="_ValidationScriptsPartial" />

}