@{
    Layout = "_Layout";
}
<style>
    .navbar {
        background-color: rgba(7, 40, 72, 1);
        position: relative;
    }
</style>

<div class="d-flex">
    <!-- Sidebar Navigation -->
    <div class="sidebar bg-light p-3 manager-sidebar">
        <h5>Manager Panel</h5>
        <nav class="nav flex-column">
            <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Slopes">Manage Slopes</a>
            <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Lifts">Manage Lifts</a>
        </nav>
    </div>

    <!-- Content Section -->
    <div class="main-content flex-grow-1 p-4">
        @RenderBody()
    </div>
</div>
@section Scripts {
    <script src="~/js/modalLoaders.js"></script>
    <partial name="_ValidationScriptsPartial" />

}