@using AlpineHub.Core.Contracts
@using System.Security.Claims
@using AlpineHub.Data.Models
@using Microsoft.AspNetCore.Identity
@using static AlpineHub.Data.Constants.CustomClaims;
@inject IManagerService managerService
@inject IUserService userService
@inject SignInManager<ApplicationUser> signInManager

@{
    string? userId = Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    bool isUserManager = await managerService.IsUserManager(userId);
    bool isUserAdmin = await userService.IsUserAdmin(userId);
}
<nav class="navbar navbar-expand-lg navbar-dark navbar-toggleable-sm box-shadow py-3">

    <div class="labels">
        @if (isUserManager)
        {
            <a asp-area="" asp-controller="Manager" asp-action="Index" class=" btn btn-sm btn-primary bg-primary">Manager</a>
        }
        @if (isUserAdmin)
        {
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class=" btn btn-sm btn-secondary">Admin</a>
        }
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="navbar-logo-container">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Alpine Hub</a>
    </div>
    <div class="navbar-collapse collapse justify-content-around justify-content-lg-evenly position-relative">
        <ul class="navbar-nav pt-3 pt-sm-0 gap-3 gap-sm-1">
            <li class="nav-item ">
                <a class="nav-link text-white d-inline-block" asp-area="" asp-controller="Slope" asp-action="Index">
                    <div class="container d-flex flex-row position-relative align-items-center justify-content-center">
                        <i class="fa-solid fa-person-skiing"></i>
                        <span class="ms-2">Slopes</span>
                        <span id="slopesCounter" class="custom-navbar number-info"></span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white d-inline-block" asp-area="" asp-controller="Lift" asp-action="Index">
                    <div class="container d-flex position-relative flex-row align-items-center justify-content-center">
                        <i class="fa-solid fa-cable-car"></i>
                        <span class="ms-2">Lifts</span>
                        <span id="liftsCounter" class="custom-navbar number-info"></span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white d-inline-block" asp-area="" asp-controller="Pass" asp-action="Index">
                    <div class="container d-flex flex-row align-items-center justify-content-center">
                        <i class="fa-solid fa-address-card"></i>
                        <span class="ms-2">Cards</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav gap-3 gap-sm-1 mt-3 mt-sm-0">
            <li class="nav-item">
                <a class="nav-link text-white d-inline-block" asp-area="" asp-controller="Map" asp-action="Index">
                    <div class="container d-flex flex-row align-items-center justify-content-center">
                        <i class="fa-solid fa-map"></i>
                        <span class="ms-2">Map</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white d-inline-block" asp-area="" asp-controller="Pass" asp-action="Index">
                    <div class="container d-flex flex-row align-items-center justify-content-center">
                        <i class="fa-solid fa-address-card"></i>
                        <span class="ms-2">Passes</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <partial name="_LoginPartial" />
            </li>
            <li class="nav-item d-inline-block">
                <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index">
                    <div class="container d-flex flex-row position-relative align-items-center justify-content-center">
                        <i class="  mt-1 fa-solid fa-shopping-cart"></i>

                        <span id="cartCounter" class="custom-navbar number-info">0</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="cart-icon">
    </div>
</nav>
